* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

body 
{
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header
{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2589bd;
}

.header h1 
{
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo
{
    color: #d9dcd6;
}

.header div 
{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul 
{
    list-style-type: none;
}

.header div ul li 
{
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
}

p {
    font-size: 18px;
}

/* Title image */
.mainImage {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* What we offer main css */
.whatWeOffer
{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* What we offer individual sections */
.whatWeOfferSection
{
    height: 300px;
    margin-bottom: 20px;
    background-color: #2589bd;
    padding: 50px;
}

/* What we offer images */
.whatWeOffer img
{
    float: left;
    max-height: 200px;
    margin-right: 25px;
}

/* What we offer header 2 */
.whatWeOffer h2
{
    margin-bottom: 20px;
    font-size: 36px;
}

/* Benefits main css */
.benefits {
    margin-right: 20px;
    padding: 7.5px;
    
    clear: both;
    float: right;

    width: 20%;
    height: 100%;

    text-align: center;

    background-color: #2589bd;
}

/* Benefits sections */
.benefitsSection
{
    margin-bottom: 20px;
}

/* Benefits images */
.benefits img
{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Benefits header 3 */
.benefits h3
{
    font-size: 26px;
}

/* Footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

/* Footer header 2 */
.footer h2 {
    font-size: 20px;
}
